.vscode/
config/*
hs_err_pid456.log
logs/
patchouli_books/
saves/
crash-reports/
journeymap/
minecraftinstance.json
patchouli_data.json
schematics/
defaultconfigs/*
kubejs/*
modernfix/
pfm/
shaderpacks/
downloads/
lightspeed-cache/
mods/*
pfmUpdateInfo.json
usercache.json
emi.json
local/
music_sheets/
resourcepacks/
usernamecache.json
global_packs/*
localconfigs/*
options.txt
rhino.local.properties

!mods/*.jar
!global_packs/required_data

!config/ae2
!config/create-common.toml
!config/darkness.properties
!config/dynamiclights_*
!config/embeddium-options.json
!config/ftbquests
!config/geolosys-common.toml
!config/modernfix-mixins.properties
!config/nuclearcraft-common.toml
!config/servercore.toml
!config/theoneprobe-*
!config/tombstone-common.toml
!config/trajanscore-config.toml

!defaultconfigs/ftbchunks
!defaultconfigs/electrodynamics_ore_config.txt
!defaultconfigs/ftbessentials-server.snbt
!defaultconfigs/immersiveengineering-server.toml

!kubejs/server*
!kubejs/asset*